<!DOCTYPE html>
<!--
  Ninjas.cl 2024
  Sources: https://github.com/NinjasCL/website
  Using: Elixir
-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= website.title %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/site.webmanifest">

    <!-- This website was made by Humans, not AI -->
    <link type="text/plain" rel="author" href="humans.txt">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/milligram.css" />
    <link rel="stylesheet" href="css/ninjas.css" />

    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= website.url %>">
    <meta property="og:title" content="<%= website.title %>">
    <meta property="og:description" content="<%= website.description %>">

    <meta property="og:image" content="<%= website.url %><%= website.logo_og %>">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= website.url %>">
    <meta property="twitter:title" content="<%= website.title %>">
    <meta property="twitter:description" content="<%= website.description %>">
    <meta property="twitter:image" content="<%= website.url %><%= website.logo_og %>">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="column column-33">
            <img src="<%= website.logo %>" alt="Ninjas.cl's Logo" title="Ninjas.cl">
          </div>
          <div class="column">
            <div class="row">
              <div class="column">
                <h1>忍者 開発者 <%= website.title %></h1>
                <h2>Software from 🇨🇱 (Chile) with ❤️ (love)</h2>
              </div>
            </div>
            <div class="row">
              <section class="column" id="about">
                  <p>
                    <i>
                      <a href="https://github.com/ninjascl">Ninja <span id="ninja-s">Systems</span></a>
                    </i>
                    Is an Experimental Software Developer Group from Chile 🇨🇱.
                    Participates in various technological projects like videogames,
                    software and other related activities.
                  </p>
                  <p>
                    <i>
                      <a href="https://ninjas.cl/">Ninjas.cl </a>
                    </i>
                    was started in <strong>2015</strong> by
                    <a href="https://github.com/clsource"> Camilo Castro</a>.
                  </p>
              </section>
            <section id="camilo">
              <h3>
                <a href="https://github.com/clsource">👨🏽‍💻 Camilo Castro</a>

              </h3>
              <p>
                <strong>Software Engineer</strong> that likes <i>Kombucha</i> and creating projects using
                <a href="https://elixir-lang.org">Elixir</a> and other fun technologies.
              </p>
              <p>
                <!-- Spam protection -->
                You can contact him at: <span id="email">cami<b>.ex</b>lo@ninjas.<b>.ex</b>cl</span>
              </p>
            </section>
            <section id="avatar">
              <img id="avatar" src="img/camilo.jpg" alt="Camilo Castro" title="Camilo">
            </section>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="container">

    </main>

    <script type="text/javascript">
      const items = ["Solutions", "Systems", "Software"];
      const word = items[items.length * Math.random() | 0];

      const ninjas = document.getElementById("ninja-s");
      ninjas.innerHTML = word;
    </script>
  </body>
</html>
