@import "../../../node_modules/sakura.css/css/sakura-dark.css";

a[href^="mailto:"]::after {
  content: " (📧)";
}

.repo-card {
  margin-top: 10px;
}

footer {
  margin-top: 20%;
  text-align: center;
}
